* { 
    box-sizing: border-box; 
}

body { 
    margin: 0; 
}

html {
	font-family: 'IBM Plex Sans', sans-serif;
	background: #ffffff;
}

.title{
	margin-bottom: 5vh;
}

/* Global Setting */

a {
	text-decoration: none;
	color: black;
}

a:hover{
	text-decoration: underline; 
}

ul {
	padding-left: 0;
}

li {
	list-style: none;
	
}

h1{
	/* 3.125 */
	font-size: calc(32px + (50 - 32) * ((100vw - 360px) / (1600 - 300)));
	margin-bottom: 0;
}

h2{
	font-size: calc(18px +(24 - 18) * ((100vw - 360px) / (1600 - 300)));
}

h3{
	font-size: calc(16px +(18 - 16) * ((100vw - 360px) / (1600 - 300)));
}

img{
	width: 100%;
}

/* Header/Navbar */

.logo img {
	width: 50px;
}

.navbar {
	padding: 1rem 7rem;
}

.navbar {
	display: flex;
	position: sticky;
	top: 0;
	z-index: 9999;
	background: white;
	justify-content: space-between;
	align-items: center;
}

.navbar.under{
	/* border-bottom: 1px solid rgb(221, 221, 221); */
	box-shadow: 0 0 10px rgb(233, 233, 233);
}

.main-menu {
	height: 100%;
}

.menu{
	display: flex;
}

.menu > li{
	text-transform: uppercase;
	padding-right: 30px;
}

.menu li a{
	display: block;
	color: black;
}

.menu li a:hover{
	font-weight: bold;
}

.menu li a.active{
	font-weight: bold;
}

.toggle-button{
	position: absolute;
	top: 1rem;
	right: 1rem;
	display: none;
	flex-direction: column;
	justify-content: space-between;
	width: 25px;
	height: 25px;
}

.toggle-button .bar {
	height: 2px;
	width: 100%;
	background-color: #000;
	border-radius: 10px;
}

/* Main Content */

main{
    padding: 3rem 7rem;
}

#headerHome{
	margin-top: 0;
}

#available{
	margin-top: 20px;
}

.cta{
	margin: 40px 0;
}

.cta a {
	text-decoration: none;
    background-color: black;
    color: white;
	padding: 0.5rem 2rem;
	border-radius: 2rem;
	border: 1px solid black;
	text-align: center;
	margin: 20px 0;
	max-width: 130px;
	transition-duration: 0.4s;
	transition-timing-function: ease-out;
}

.cta a:hover{
	cursor: pointer;
	background-color: white;
	color: black;
}

.see-more{
	margin: 40px 0;
}

.see-more a, .back a{
    text-decoration: none;
    background-color: white;
    color: black;
	padding: 0.5rem 2rem;
	border-radius: 2rem;
	border: 1px solid black;
	text-align: center;
	margin: 20px 0;
	max-width: 130px;
	transition-duration: 0.4s;
	transition-timing-function: ease-out;
}

.see-more a:hover, .back a:hover{
	cursor: pointer;
	background-color: black;
	color: white;
}

/* Work */
.featured{
	padding: 5rem 0 5rem 0;
}

.home, .work{
	padding: 0.5rem 0;
	display: grid;
	grid-gap: 1rem;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.home article, .work article{
	padding: 1rem;
	display: flex;
	flex-flow: column;
	border:  0.5px solid rgb(221, 221, 221);
	border-radius: 0.5rem;
	transition: transform 500ms;
}

.home article img, .work > article img{
  	border-radius: 0.5rem;
}

.home:hover article, .work:hover article{
	transform: translateX(-5%) ;
}

.home article:hover ~ article, .work article:hover ~ article{
	transform: translateX(5%) ;
}

.home article:hover, .work article:hover{
	box-shadow: 0 0 10px rgb(233, 233, 233);
	border: none;
	background-color: #000;
	color: white;
	transform: scale(1.05);
	z-index: 1;
}

.home article:hover h3, .work article:hover h3{
	color: white;
}

.work img{
	width: 100%;
}

.work h3{
	margin: 2rem 0 0.3rem 0;
}

p{
	margin: 0.1rem;
}

/* Work Detail */
.back {
	padding: 50px 0 2rem 150px;
}

.workHeader{
	display: grid;
	grid-template-columns: auto auto;
	justify-content: space-between;
	gap: 2rem;
}
.workHeaderTitle{
	padding-left: 150px;
}

.workHeaderTitle h1{
	margin-top: 0;
}

.workHeaderTitle h3{
	color: #999;
	margin: 10px 0 0.3rem 0;
}

.workHeaderDescription{
	padding-right: 150px ;
}

.workHeaderDescription h2{
	margin: 15px 0;
	text-align: end;
}

.workJumbotron{
	width: 100%;
	align-items: center;
	height: auto;
}

.workJumbotron > img{
	margin-top: 1rem;
}

.workContent{
	padding: 0 300px;
}

/* Playground */
.tab {
	overflow: hidden;
	background-color: #ffffff;
}

.tablinks{
	text-transform: uppercase;
}

/* Style the buttons inside the tab */
.tab button {
	background-color: inherit;
	outline: none;
	cursor: pointer;
	padding: 0.3rem 2rem;
	transition: 0.3s;
	font-size: 16px;
	font-family: inherit;
	border: 1px solid #000;
	text-align: center;
	border-radius: 2rem;
	margin: 0.5rem 0.5rem 0.5rem 0;
}

/* Change background color of buttons on hover */
.tab button:hover {
	background-color: black;
	color: white;
}

/* Create an active/current tablink class */
.tab button.active {
	background-color: black;
	color: white;
	border: 1px solid #000;
}

.tabcontent {
	display: none;
	animation: fadeEffect 1s;
	margin-top: 2rem;
}

@keyframes fadeEffect {
	from {opacity: 0;}
	to {opacity: 1;}
}

.playground {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	grid-gap: 3rem;
	
}

.playground li{
	margin-top: 0.5rem;
}

.playground li img{
	transition: transform 500ms;
}

.playground li img:hover{
	box-shadow: 0 0 10px rgb(233, 233, 233);
	transform: scale(1.05);
	z-index: 1;
}

.playground li img{
	border-radius: 0.5rem;
}

.playgroundCode{
	padding: 0.5rem 0;
	display: grid;
	grid-gap: 1rem;
	grid-template-columns: repeat(auto-fit, minmax(300px, 450px));
}

.playgroundCode > article{
	padding: 1rem;
	display: flex;
	flex-flow: column;
	border:  0.5px solid rgb(221, 221, 221);
  	border-radius: 0.5rem;
}


/* About */

.about > img{
	width: 100%;
	max-width: 300px;
	max-height: 300px;
	border-radius: 0.5rem;
}

.now{
	display: block;
}

/* Footer */
footer{
    background: white;
    display: grid;
	gap: 2rem;
	align-items: center;
	grid-template-columns: max-content auto auto;
	border-top: 1px solid rgb(236, 236, 236);
}

footer{
	padding: 1rem 7rem;
	margin-top: 4rem;
}

footer > nav {
	justify-self: end;
}

.social-media > li{
	padding: 0 15px;
}

.email, .social-media{
    display: flex;
    flex-wrap: wrap;
    gap: 0 2rem;

}

/* .email > li:first-child{
	padding-left: 30px;
} */

#clipboard::before{
	content: '📋';
	padding: 10px;
	border: 1px solid black;
	border-radius: 0.5rem;
}

#mail{
	border: none;
	outline: none;
	resize: none;
	box-shadow: none;
	background: white;
	width: 220px;
	font-family: 'IBM Plex Sans', sans-serif;
	font-size: 16px;
}

.tooltip {
	position: relative;
	display: inline-block;
}
  
.tooltip .tooltiptext {
	visibility: hidden;
	width: 250px;
	background-color: black;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 5px;
	position: absolute;
	z-index: 1;
	bottom: 180%;
	left: 50%;
	margin-left: -126px;
	opacity: 0;
	transition: opacity 0.4s;
}

.tooltip .tooltiptext::after {
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: black transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
	visibility: visible;
	opacity: 1;
}

/* Responsive */
@media screen and (max-width: 768px){
	.navbar, main, footer {
		padding: 1rem 1rem;
	}

	.navbar{
		flex-direction: column;
		align-items: flex-start;
	}

	.toggle-button{
		display: flex;
	}

	.main-menu{
		display: none;
		width: 100%;
	}

	.menu{
		width: 100%;
		flex-direction: column;
	}

	.menu > li {
		text-align: center;
		padding-right: 0;
	}

	.menu >li:first-child{
		display: none;
	}

	.menu li a{
		padding: 1rem 1rem;
	}

	.main-menu.active{
		display: flex;
	}

	#headerHome{
		font-size: 40px;
	}

	#available{
		margin: 10px 0;
	}

	#available span{
		display: none;
	}

	footer{
		grid-template-columns: 1fr;
		justify-self: center;
		align-self: center;
		text-align: center;
		gap: 0;
	}

	.tooltip .tooltiptext {
		width: 100px;
		bottom: 120%;
		left: 50%;
		margin-left: -51px;
	}

	.email > li{
		padding: 10px;
	}
	.social-media > li:first-child{
		display: none;
	}

	footer > nav {
		justify-self: center;
	}

	footer > p{
		display: none;
	}

	.workHeader{
		grid-template-columns: auto;
		gap: 0;
	}

	.workHeaderTitle, .workHeaderDescription, .workContent{
		padding: 0;
	}

	.back {
		padding: 50px 0 2rem 0;
	}

	.workHeaderDescription h2{
		margin: 15px 0;
		text-align: left;
	}
	
}

@media screen and (max-width: 1150px){

	footer > p{
		display: none;
	}
}

.toggle-button.active .bar:nth-child(2){
	opacity: 0;
  }
  
  .toggle-button.active .bar:nth-child(1){
	-webkit-transform: translateY(12px) rotate(45deg);
	-ms-transform: translateY(12px) rotate(45deg);
	-o-transform: translateY(12px) rotate(45deg);
	transform: translateY(12px) rotate(45deg);
  }
  
  .toggle-button.active .bar:nth-child(3){
	-webkit-transform: translateY(-12px) rotate(-45deg);
	-ms-transform: translateY(-12px) rotate(-45deg);
	-o-transform: translateY(-12px) rotate(-45deg);
	transform: translateY(-12px) rotate(-45deg);
  }

/* Hand Wave Animation */
/* by https://jarv.is/notes/css-waving-hand-emoji/ */
span.wave {
	animation-name: wave-animation;    /* Refers to the name of your @keyframes element below */
	animation-duration: 2.5s;          /* Change to speed up or slow down */
	animation-iteration-count: infinite;    /* Never stop waving :) */
	transform-origin: 70% 100%;         /* Pivot around the bottom-left palm */
	display: inline-block;
}
  
@keyframes wave-animation {
	0% { transform: rotate(  0.0deg) }
	10% { transform: rotate(-10.0deg) }    /* The following four values can be played with to make the waving more or less extreme */
	20% { transform: rotate( 12.0deg) }
	30% { transform: rotate(-10.0deg) }
	40% { transform: rotate(  9.0deg) }
	50% { transform: rotate(  0.0deg) }    /* Reset for the last half to pause */
	100% { transform: rotate(  0.0deg) }
}
