.navbar {
	padding: 1rem 7rem;
}

.navbar {
	display: flex;
	top: 0;
	background: white;
	justify-content: space-between;
	align-items: center;
}

.navbar.under{
	box-shadow: 0 0 10px rgb(233, 233, 233);
}

.main-menu {
	height: 100%;
}

.menu{
	display: flex;
	align-items: center;
}

.menu > li{
	padding-right: 30px;
}

.menu li a{
	text-decoration: none ;
	font-weight: bold;
	display: block;
	color: black;
	font-size: 1.2rem;
	transition: 200ms ease;
}

.menu li:first-child a{
	text-decoration: none;
	font-size: 2.2rem;
	color: royalblue;
	transition: 200ms ease;
}

.menu li:first-child a:hover{
	color: black;
	text-decoration: none;
}

.menu li a:hover{
	text-decoration: underline;
}

.menu li a.active{
	font-weight: bold;
}