.menu {
  display: flex;
  align-items: center;
}

.menu .logo {
  text-decoration: none;
  font-size: 2.2rem;
  color: royalblue;
  transition: 200ms ease;
  margin-right: 30px;
}

.menu .logo:hover {
  color: black;
  text-decoration: none;
}

.menu > li {
  margin-right: 30px;
}

.menu li a {
  text-decoration: none;
  display: block;
  color: var(--font-color-sc);
  font-size: 1rem;
  font-weight: 500;
  transition: all 200ms ease;
}

.menu li a:hover {
  color: var(--font-color);
}

.menu li a.active {
  opacity: 1;
  border: 1px var(--font-color) solid;
}
