.playground{
	padding: 0.5rem 0;
	display: grid;
	gap: 1rem;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.playground article{
	padding: 1rem;
	display: flex;
    flex-flow: row;
    align-items: center;
	border:  0.5px solid rgb(221, 221, 221);
	border-radius: 0.5rem;
	transition: transform 500ms;
}

.playground article img{
	width: 20%;
	border-radius: 0.5rem;
}

.playground article:hover{
	box-shadow: 0 0 10px rgb(233, 233, 233);
	border: none;
	background-color: #000;
	color: white;
	transform: scale(1.05);
	z-index: 1;
}

.playground article:hover h3{
	color: white;
}

.playground article:focus{
	outline: none;
	box-shadow: 0 0 10px rgb(233, 233, 233);
	border: none;
	background-color: #000;
	color: white;
	transform: scale(1.05);
	z-index: 1;
}

.playground article:focus h3{
	color: white;
}

.playground-detail{
	margin-left: 1rem;
}

.playground-detail h3{
	margin: 0;
}

p{
	margin: 0.1rem;
}