@media screen and (max-width: 768px) {
  h1 {
    font-size: 2rem !important;
  }

  .project-title h1 {
    margin: 0.5rem 0 !important;
  }

  .row {
    padding: 2rem !important;
  }

  .about-content {
    flex-direction: column !important;
  }

  .header-desc {
    flex-direction: column;
  }

  .header-desc ul {
    display: none;
    text-align: start;
    margin-top: 20px;
  }

  .header-desc ul li {
    margin-bottom: 10px;
  }

  .grid {
    display: flex !important;
    flex-direction: column;
  }
}

@media screen and (min-width: 769px) and (max-width: 1150px) {
  /* .about-content p {
    margin-right: 20px;
  } */
}
