@import 'navbar.css';
@import 'footer.css';
@import 'featured-work.css';
@import 'responsive.css';
@import 'modal-work-detail.css';
@import 'about.css';

* { 
    box-sizing: border-box; 
}

:root{
	font-size: 16px;
}

body { 
    margin: 0; 
}

html {
	font-family: 'IBM Plex Sans', sans-serif;
	background: #ffffff;
}

/* width */
::-webkit-scrollbar {
	width: 0.8rem;
	border-radius: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
	background: #f1f1f1; 
	border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
	background: darkgray; 
	border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
	background: gray; 
  }

/* Global Setting */

a {
	text-decoration: none;
	color: black;
}

a:hover{
	text-decoration: underline; 
}

ul {
	padding-left: 0;
}

li {
	list-style: none;
	
}

h1{
	/* 3.125 */
	font-size: calc(24px + (50 - 32) * ((100vw - 360px) / (1600 - 300)));
	margin-bottom: 0;
}

h2{
	font-size: calc(18px +(24 - 18) * ((100vw - 360px) / (1600 - 300)));
}

h3{
	font-size: calc(16px +(18 - 16) * ((100vw - 360px) / (1600 - 300)));
}

img{
	width: 100%;
	border-radius: 0.5rem;
}

/* Main Content */

main{
    padding: 0 7rem 5rem;
}

#headerHome{
	margin-top: 0;
}

#available{
	margin-top: 20px;
}

.cta{
	margin: 40px 0;
}

.cta a {
	text-decoration: none;
    background-color: black;
    color: white;
	padding: 0.5rem 2rem;
	border-radius: 2rem;
	border: 1px solid black;
	text-align: center;
	margin: 20px 0;
	max-width: 130px;
	transition-duration: 0.4s;
	transition-timing-function: ease-out;
}

.cta a:hover{
	cursor: pointer;
	background-color: white;
	color: black;
}

.cta a:focus{
	outline: none;
	border: 4px solid lightcoral;
	border-radius: 2rem;
}

/* About */
.about > img{
	width: 100%;
	max-width: 300px;
	max-height: 300px;
	border-radius: 0.5rem;
}

.now{
	display: block;
}

/* Hand Wave Animation */
/* by https://jarv.is/notes/css-waving-hand-emoji/ */
span.wave {
	animation-name: wave-animation;    /* Refers to the name of your @keyframes element below */
	animation-duration: 2.5s;          /* Change to speed up or slow down */
	animation-iteration-count: infinite;    /* Never stop waving :) */
	transform-origin: 70% 100%;         /* Pivot around the bottom-left palm */
	display: inline-block;
}
  
@keyframes wave-animation {
	0% { transform: rotate(  0.0deg) }
	10% { transform: rotate(-10.0deg) }    /* The following four values can be played with to make the waving more or less extreme */
	20% { transform: rotate( 12.0deg) }
	30% { transform: rotate(-10.0deg) }
	40% { transform: rotate(  9.0deg) }
	50% { transform: rotate(  0.0deg) }    /* Reset for the last half to pause */
	100% { transform: rotate(  0.0deg) }
}
