@import "home.css";
@import "navbar.css";
@import "all-projects.css";
@import "responsive.css";
@import "projects.css";
@import "about.css";
@import url("https://rsms.me/inter/inter.css");

html {
  font-family: "Inter", sans-serif;
}
@supports (font-variation-settings: normal) {
  html {
    font-family: "Inter var", sans-serif;
  }
}

:root {
  --primary-color: #6685e3;
  --sec-color: #ecf0fd;

  --bg-color: #ffffff;
  --bg-card: #ffffff;
  --font-color: #000000;
  --font-color-sc: #767676;

  --dark-bg-color: #000000;
  --dark-bg-card: #222222;
  --dark-font-color: #ffffff;
  --dark-font-color-sc: #ebebeb;
}

:root {
  --unit: 16px;
  --hr-weight: 1.5px;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  letter-spacing: -0.01em;
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: var(--primary-color);
}

p a {
  text-decoration: underline rgba(0, 0, 0, 0.3);
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
}

h1 {
  font-size: 3rem;
  letter-spacing: -0.022em;
  line-height: 56px;
  margin-bottom: 1rem;
}

h2 {
  font-size: 1.5rem;
  letter-spacing: -0.019em;
  line-height: 34px;
  margin-bottom: 1rem;
}

h3 {
  font-size: 1.2rem;
  letter-spacing: -0.014em;
  line-height: 26px;
  font-weight: 500;
  margin-bottom: 1rem;
}

h3 > a[href] {
  text-decoration: none;
}

h3 > a[href]:hover {
  color: var(--primary-color);
  background-color: var(--sec-color);
  border-radius: 5px;
  padding-left: calc(var(--unit) * 0.5);
  padding-right: calc(var(--unit) * 0.5);
  margin-left: calc(var(--unit) * -0.5);
  margin-right: calc(var(--unit) * -0.5);
}

p {
  margin-bottom: 1rem;
  font-size: 1rem;
  letter-spacing: -0.011em;
  line-height: 22px;
}

.row {
  padding: 3rem;
  display: flex;
  justify-content: center;
}

.row > * {
  width: 100%;
  max-width: 888px;
}

.tag {
  color: var(--font-color-sc);
  margin-bottom: 0;
}

hr.section {
  border: none;
  height: var(--hr-weight);
  background-color: #dddddd;
}

.grid {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-gap: 2rem;
}

img {
  width: 100%;
}

main {
  animation: transitionIn 500ms;
}

@keyframes transitionIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
